<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IDOL - Categories</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-treetable.css" type="text/css">
    <link rel="stylesheet" href="/static/css/custom.css" type="text/css">
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/d3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-treetable.js"></script>
    <script src="https://use.fontawesome.com/235aa5992d.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/static/js/custom.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $('table').treetable();
        });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>IDOL Categories</h1>
      <hr>
      <div class="panel panel-default">
        <div class="panel-body">
          Click on the name of the category to expand
        </div>
      </div>
        {% if response == 'SUCCESS' %}
            <table class="table tt-table" style="border-width:0px;;">
        <tbody>
          <tr>
            <td>
              <div class="tt tt-parent" data-tt-id="{{ category.id }}">
                    {{ category.name }}
                    <input type="hidden" name="parent-id" value="{{ category.id }}">
              </div>
            </td>
            <td>
              {% with parent_id=category.id %}
              {% include 'partial/NewCategory.html' %}
              {% endwith %}
              <button type="button" name="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#new-category-modal">Add new Category</button>
            </td>
          </tr>
          {% for child in category.children %}
          <tr>
            <td>
                {% if child['autn:numchildren']["$"]|int > 0 %}
                    <div class="tt tt-parent" data-tt-id="{{child["autn:childid"]["$"]}}" data-tt-parent="{{ category.id}}">
                    <input type="hidden" name="haschild" value="true" id="{{ child["autn:childid"]["$"] }}">
                    {% set haschild="true" %}
                {% else %}
                    <div class="tt" data-tt-id="{{child['autn:childid']["$"]}}" data-tt-parent="{{ category.id }}">
                    {% set haschild="false" %}
                {% endif %}
                        {{child["autn:childname"]["$"]}}
                        <input type="hidden" name="child-id" value="{{child['autn:childid']["$"]}}">
                    </div>
            </td>
            <td>
              {% include 'partial/NewChildCategory.html' %}
              <button type="button" name="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#new-child-category-modal{{child['childid']}}">Add new Category</button>
            </td>
          </tr>
            {% if haschild == 'true' %}
                <script type="text/javascript">
                    var details = getCategoryDetails('{{ child["autn:childid"]["$"] }}');
                    var x = 0;
                </script>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
            <script type="text/javascript">
              $('document').ready(function (){
                  $('input[type="hidden"]')
                          .filter("[name='haschild']")
                          .filter("[value='true']")
                          .each(function(i, val){
                            processIDs(i,val);
                  });
              });

          </script>
        {% endif %}


    </div>
  </body>
</html>
