<div class="modal fade" id="new-category-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Add new Category</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="CategoryName">Category Name</label>
                <input type="text" class="form-control" id="CategoryName" value="">
                <br>
                <button type="button" class="btn btn-primary">Add</button>
                <input type="hidden" name="parent_id" value="{{parent_id}}">
                              {{ parent_id|pprint}}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
