<div class="modal fade" id="new-child-category-modal{{child['id']}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Add new Category</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="CategoryName">Category Name</label>
                <input type="text" class="form-control" id="CategoryName{{child['id']}}" value="">
                <br>
                <button type="button" class="btn btn-primary" id="AddCategoryTo{{child['id']}}">Add</button>
                <input type="hidden" name="parent_id" value="{{child['id']}}">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#AddCategoryTo{{child['id']}}').click(function (){
    console.log("You clicked {{child['id']}}");
    var parent = "{{child['id']}}";
    var newCatgory = $('#CategoryName{{child['id']}}').val();
    var aciURL = "http://localhost:9020/action=CategoryCreate&Name="+ newCatgory + "&Parent=" + parent;
    $.ajax({
      url: aciURL
    }).done(function (data){
      console.log(data);
    });
  });
</script>
